# Xmake cache
.xmake/

# Xmake build directory
build/

# VS and vscode directories
.vs*/
vs*/
CppProperties.json

# caches
.cache/

# MacOS Cache
.DS_Store

# lib files
thirdparty/*

# auto generated
/include/autogen/

# only for intellisense, not for build
xmake.lua