Checks: '-*,
        bugprone-*,
        -bugprone-easily-swappable-parameters,
        -bugprone-misplaced-widening-cast,
        cert-dcl21-cpp,
        clang-analyzer-core.*,
        clang-analyzer-cplusplus.*,
        cppcoreguidelines-narrowing-conversions,
        google-explicit-constructor,
        google-readability-casting,
        misc-unconventional-assign-operator,
        misc-unused-parameters,
        modernize-redundant-void-arg,
        modernize-use-bool-literals,
        modernize-use-equals-default,
        modernize-use-nullptr,
        modernize-use-override'






